workflows/roomy-manager-agent.json
{
  "name": "Roomy Manager Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "daily-8am-trigger",
      "name": "Daily 8AM Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "daily-8pm-trigger",
      "name": "Daily 8PM Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1000, 200]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{ $env.ROOMY_BASE_URL }}/api/n8n/manager/overdue-tasks",
        "method": "GET",
        "options": {}
      },
      "id": "fetch-overdue-tasks",
      "name": "Fetch Overdue Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-700, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "roomy-api-token",
          "name": "Roomy API Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{ $env.ROOMY_BASE_URL }}/api/n8n/manager/overdue-bills",
        "method": "GET",
        "options": {}
      },
      "id": "fetch-overdue-bills",
      "name": "Fetch Overdue Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-700, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "roomy-api-token",
          "name": "Roomy API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $json.tasks || [];\nconst outputs = [];\n\nfor (const task of tasks) {\n  if (!task.assigned_user?.telegram_chat_id) continue;\n  \n  const daysOverdue = Math.floor(\n    (Date.now() - new Date(task.due_date).getTime()) / (1000 * 60 * 60 * 24)\n  );\n  \n  let message = `⚠️ Tarefa atrasada: <b>${task.title}</b>\\n`;\n  message += `Local: ${task.room || 'Geral'}\\n`;\n  message += `Vencimento: ${task.due_date}\\n`;\n  message += `Atrasado há ${daysOverdue} dia${daysOverdue > 1 ? 's' : ''}`;\n  \n  outputs.push({\n    json: {\n      chatId: task.assigned_user.telegram_chat_id,\n      message,\n      taskId: task.id,\n      userId: task.assigned_user.id,\n      daysOverdue\n    }\n  });\n}\n\nreturn outputs;"
      },
      "id": "format-task-reminders",
      "name": "Format Task Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "const bills = $json.bills || [];\nconst outputs = [];\n\nfor (const bill of bills) {\n  if (!bill.participant_user?.telegram_chat_id) continue;\n  \n  const daysOverdue = Math.floor(\n    (Date.now() - new Date(bill.due_date).getTime()) / (1000 * 60 * 60 * 24)\n  );\n  \n  const money = (val) => Number(val || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n  \n  let message = `💰 Conta atrasada: <b>${bill.title}</b>\\n`;\n  message += `Valor: ${money(bill.amount)}\\n`;\n  message += `Vencimento: ${bill.due_date}\\n`;\n  message += `Atrasado há ${daysOverdue} dia${daysOverdue > 1 ? 's' : ''}`;\n  \n  if (bill.paid_by_user?.pix_key) {\n    message += `\\n\\nPix de ${bill.paid_by_user.name}:\\n<code>${bill.paid_by_user.pix_key}</code>`;\n  }\n  \n  outputs.push({\n    json: {\n      chatId: bill.participant_user.telegram_chat_id,\n      message,\n      billId: bill.id,\n      participantId: bill.participant_id,\n      userId: bill.participant_user.id,\n      daysOverdue\n    }\n  });\n}\n\nreturn outputs;"
      },
      "id": "format-bill-reminders",
      "name": "Format Bill Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-task-reminder",
      "name": "Send Task Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-100, 0],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-bill-reminder",
      "name": "Send Bill Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-100, 200],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{ $env.ROOMY_BASE_URL }}/api/n8n/manager/low-stock",
        "method": "GET",
        "options": {}
      },
      "id": "fetch-low-stock",
      "name": "Fetch Low Stock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-700, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "roomy-api-token",
          "name": "Roomy API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items || [];\nif (!items.length) return [];\n\nconst { rows: users } = await $query('select id, telegram_chat_id from users where house_id = $1 and telegram_chat_id is not null', [$json.houseId]);\nif (!users?.length) return [];\n\nconst itemsList = items.map((item, i) => `${i + 1}. ${item.name} - ${item.quantity} ${item.unit} (min ${item.min_quantity})`);\n\nlet message = `🛒 Estoque baixo (${items.length} ${items.length > 1 ? 'itens' : 'item'}):\\n\\n`;\nmessage += itemsList.join('\\n');\nmessage += '\\n\\nPrecisa comprar!';\n\nreturn users.map(user => ({\n  json: {\n    chatId: user.telegram_chat_id,\n    message\n  }\n}));"
      },
      "id": "format-stock-alert",
      "name": "Format Stock Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-stock-alert",
      "name": "Send Stock Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-100, 400],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 1,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "weekly-monday-trigger",
      "name": "Weekly Monday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1000, 600]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{ $env.ROOMY_BASE_URL }}/api/n8n/manager/weekly-summary",
        "method": "GET",
        "options": {}
      },
      "id": "fetch-weekly-summary",
      "name": "Fetch Weekly Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-700, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "roomy-api-token",
          "name": "Roomy API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $json;\nconst { rows: users } = await $query('select id, telegram_chat_id, name from users where house_id = $1 and telegram_chat_id is not null', [summary.houseId]);\n\nif (!users?.length) return [];\n\nconst money = (val) => Number(val || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n\nlet message = `📊 <b>Resumo Semanal - Roomy</b>\\n\\n`;\n\nif (summary.pendingTasks > 0) {\n  message += `✅ Tarefas pendentes: ${summary.pendingTasks}\\n`;\n}\n\nif (summary.overdueTasks > 0) {\n  message += `⚠️ Tarefas atrasadas: ${summary.overdueTasks}\\n`;\n}\n\nif (summary.unpaidBills > 0) {\n  message += `💰 Contas não pagas: ${summary.unpaidBills} (${money(summary.unpaidAmount)})\\n`;\n}\n\nif (summary.lowStockItems > 0) {\n  message += `🛒 Itens com estoque baixo: ${summary.lowStockItems}\\n`;\n}\n\nmessage += `\\n<i>Boa semana! 🏡</i>`;\n\nreturn users.map(user => ({\n  json: {\n    chatId: user.telegram_chat_id,\n    message\n  }\n}));"
      },
      "id": "format-weekly-summary",
      "name": "Format Weekly Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-weekly-summary",
      "name": "Send Weekly Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-100, 600],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 8AM Check": {
      "main": [
        [
          {
            "node": "Fetch Overdue Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Low Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8PM Check": {
      "main": [
        [
          {
            "node": "Fetch Overdue Bills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Overdue Tasks": {
      "main": [
        [
          {
            "node": "Format Task Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Overdue Bills": {
      "main": [
        [
          {
            "node": "Format Bill Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Task Reminders": {
      "main": [
        [
          {
            "node": "Send Task Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bill Reminders": {
      "main": [
        [
          {
            "node": "Send Bill Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Low Stock": {
      "main": [
        [
          {
            "node": "Format Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Stock Alert": {
      "main": [
        [
          {
            "node": "Send Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Monday 9AM": {
      "main": [
        [
          {
            "node": "Fetch Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weekly Summary": {
      "main": [
        [
          {
            "node": "Format Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weekly Summary": {
      "main": [
        [
          {
            "node": "Send Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-05-05T00:00:00.000Z",
      "updatedAt": "2026-05-05T00:00:00.000Z",
      "id": "roomy",
      "name": "Roomy"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2026-05-05T00:00:00.000Z",
  "versionId": "roomy-manager-v1"
}
