workflows/roomy-telegram-bot.json
{
  "name": "Roomy Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "8b594efe-3c6e-42dd-8dd9-50b7ef7d99b8",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        0
      ],
      "webhookId": "roomy-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message || {};\nconst chatId = String(msg.chat?.id || '');\nconst text = String(msg.text || msg.caption || '').trim();\nconst hasPhoto = Array.isArray(msg.photo) && msg.photo.length > 0;\n\nconst baseUrl = ($env.ROOMY_BASE_URL || 'https://roomy.seudominio.com').replace(/\\/$/, '');\nconst token = $env.ROOMY_N8N_API_TOKEN || 'troque-este-token';\n\nfunction help() {\n  return [\n    'Roomy no Telegram',\n    '',\n    '/vincular SEU_RA - conecta seu Telegram ao Roomy',\n    '/tarefas - lista suas tarefas pendentes',\n    '/concluir TASK_ID - marca tarefa como concluida',\n    '/contas - lista suas contas',\n    '/pagar PARTICIPANT_ID - marca sua parte como paga',\n    '/estoque - lista estoque da casa e pessoal',\n    '',\n    'NFC-e: cole o link do QR Code da nota fiscal aqui no chat.',\n    'Criar tarefa: /tarefa titulo | local | prioridade | yyyy-mm-dd',\n    'Criar conta: /conta titulo | total | yyyy-mm-dd | userId:valor,userId:valor',\n  ].join('\\n');\n}\n\nasync function callRoomy(path, options = {}) {\n  const response = await fetch(`${baseUrl}${path}`, {\n    method: options.method || 'GET',\n    headers: {\n      'Content-Type': 'application/json',\n      Authorization: `Bearer ${token}`,\n    },\n    body: options.body ? JSON.stringify(options.body) : undefined,\n  });\n\n  const raw = await response.text();\n  let data;\n  try {\n    data = raw ? JSON.parse(raw) : {};\n  } catch {\n    data = { raw };\n  }\n\n  if (!response.ok) {\n    throw new Error(data.error || `Roomy HTTP ${response.status}`);\n  }\n\n  return data;\n}\n\nfunction money(value) {\n  return Number(value || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n}\n\nfunction shortId(id) {\n  return String(id || '').slice(0, 8);\n}\n\ntry {\n  if (!chatId) {\n    return [{ json: { chatId, reply: 'Nao consegui identificar este chat.' } }];\n  }\n\n  if (hasPhoto && !text) {\n    return [{ json: { chatId, reply: 'Recebi a foto do QR. Para esta versao, envie tambem o link decodificado da NFC-e. Depois podemos plugar um node de leitura de QR por imagem.' } }];\n  }\n\n  if (!text || /^\\/start/i.test(text) || /^\\/help/i.test(text)) {\n    return [{ json: { chatId, reply: help() } }];\n  }\n\n  const vincular = text.match(/^\\/vincular\\s+(.+)$/i);\n  if (vincular) {\n    const data = await callRoomy('/api/n8n/telegram/link', {\n      method: 'POST',\n      body: { ra: vincular[1].trim(), telegramChatId: chatId },\n    });\n    return [{ json: { chatId, reply: `Pronto, ${data.user.name}. Telegram vinculado ao Roomy.` } }];\n  }\n\n  if (/^\\/tarefas/i.test(text)) {\n    const data = await callRoomy(`/api/n8n/tasks?telegramChatId=${encodeURIComponent(chatId)}`);\n    const tasks = data.tasks || [];\n    if (!tasks.length) return [{ json: { chatId, reply: 'Voce nao tem tarefas pendentes.' } }];\n\n    const lines = tasks.map((t, index) => {\n      const due = t.due_date ? ` vence ${t.due_date}` : ' sem vencimento';\n      return `${index + 1}. ${t.title} (${t.room || 'Geral'}) - ${t.priority || 'media'} - ${due}\\nID: ${t.id}`;\n    });\n    return [{ json: { chatId, reply: `Tarefas pendentes:\\n\\n${lines.join('\\n\\n')}\\n\\nUse /concluir TASK_ID` } }];\n  }\n\n  const concluir = text.match(/^\\/concluir\\s+([a-f0-9-]+)/i);\n  if (concluir) {\n    await callRoomy('/api/n8n/tasks', {\n      method: 'POST',\n      body: { action: 'complete', telegramChatId: chatId, taskId: concluir[1] },\n    });\n    return [{ json: { chatId, reply: 'Tarefa marcada como concluida.' } }];\n  }\n\n  const novaTarefa = text.match(/^\\/tarefa\\s+(.+)$/i);\n  if (novaTarefa) {\n    const [title, room = 'Geral', priority = 'media', dueDate = null] = novaTarefa[1].split('|').map(s => s.trim());\n    const data = await callRoomy('/api/n8n/tasks', {\n      method: 'POST',\n      body: { action: 'create', telegramChatId: chatId, title, room, priority, dueDate },\n    });\n    return [{ json: { chatId, reply: `Tarefa criada. ID: ${data.taskId}` } }];\n  }\n\n  if (/^\\/contas/i.test(text)) {\n    const data = await callRoomy(`/api/n8n/bills?telegramChatId=${encodeURIComponent(chatId)}`);\n    const bills = data.bills || [];\n    if (!bills.length) return [{ json: { chatId, reply: 'Nenhuma conta encontrada para voce.' } }];\n\n    const lines = bills.map((b, index) => {\n      const status = b.paid ? 'paga' : 'pendente';\n      return `${index + 1}. ${b.title} - ${money(b.amount)} - ${status} - vence ${b.due_date}\\nparticipantId: ${b.participant_id}`;\n    });\n    return [{ json: { chatId, reply: `Suas contas:\\n\\n${lines.join('\\n\\n')}\\n\\nUse /pagar PARTICIPANT_ID` } }];\n  }\n\n  const pagar = text.match(/^\\/pagar\\s+([a-f0-9-]+)/i);\n  if (pagar) {\n    await callRoomy('/api/n8n/bills', {\n      method: 'POST',\n      body: { action: 'mark-paid', telegramChatId: chatId, participantId: pagar[1] },\n    });\n    return [{ json: { chatId, reply: 'Conta marcada como paga.' } }];\n  }\n\n  const novaConta = text.match(/^\\/conta\\s+(.+)$/i);\n  if (novaConta) {\n    const [title, totalRaw, dueDateRaw, involvedRaw = ''] = novaConta[1].split('|').map(s => s.trim());\n    const total = Number(String(totalRaw).replace(',', '.'));\n    const involved = involvedRaw\n      ? involvedRaw.split(',').map(part => {\n          const [userId, amount] = part.split(':').map(s => s.trim());\n          return { userId, amount: Number(String(amount).replace(',', '.')) };\n        })\n      : undefined;\n\n    await callRoomy('/api/n8n/bills', {\n      method: 'POST',\n      body: { action: 'create', telegramChatId: chatId, title, total, dueDate: dueDateRaw || undefined, involved },\n    });\n    return [{ json: { chatId, reply: `Conta criada: ${title} (${money(total)}).` } }];\n  }\n\n  if (/^\\/estoque/i.test(text)) {\n    const data = await callRoomy(`/api/n8n/stock?telegramChatId=${encodeURIComponent(chatId)}`);\n    const stock = data.stock || [];\n    if (!stock.length) return [{ json: { chatId, reply: 'Estoque vazio.' } }];\n\n    const low = stock.filter(i => Number(i.quantity) <= Number(i.min_quantity));\n    const source = low.length ? low : stock.slice(0, 20);\n    const title = low.length ? 'Itens baixos/esgotados:' : 'Estoque:';\n    const lines = source.map((i, index) => `${index + 1}. ${i.name} - ${i.quantity} ${i.unit} (min ${i.min_quantity})\\nID: ${i.id}`);\n    return [{ json: { chatId, reply: `${title}\\n\\n${lines.join('\\n\\n')}` } }];\n  }\n\n  if (/^https?:\\/\\//i.test(text)) {\n    const data = await callRoomy('/api/n8n/nfce', {\n      method: 'POST',\n      body: { telegramChatId: chatId, url: text },\n    });\n\n    const nfce = data.nfce_data;\n    if (!nfce) return [{ json: { chatId, reply: 'Nao consegui processar essa NFC-e.' } }];\n\n    const items = (nfce.itens || []).slice(0, 10).map((item, index) => `${index + 1}. ${item.descricao} - ${money(item.valor_total)}`);\n    return [{ json: { chatId, reply: `NFC-e lida:\\n${nfce.estabelecimento || 'Estabelecimento'}\\nTotal: ${money(nfce.valor_pagar)}\\nItens: ${nfce.total_itens}\\n\\n${items.join('\\n')}\\n\\nPara criar a conta, use:\\n/conta ${nfce.estabelecimento || 'Compra'} | ${nfce.valor_pagar || 0} | ${new Date().toISOString().slice(0, 10)}` } }];\n  }\n\n  return [{ json: { chatId, reply: `Comando nao reconhecido.\\n\\n${help()}` } }];\n} catch (error) {\n  return [{ json: { chatId, reply: `Erro: ${error.message}` } }];\n}\n"
      },
      "id": "b0f2602d-e258-48c9-b105-32c30d58eed8",
      "name": "Router + Roomy API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "b637d5e1-475f-4931-a27f-7f909bda88f3",
      "name": "Responder no Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "path": "roomy-events",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "72f3c31d-a83b-43c8-8f68-6e2c8b61facb",
      "name": "Roomy Events Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        300
      ],
      "webhookId": "roomy-events"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst event = body.event || 'roomy.event';\nconst payload = body.payload || {};\nconst chatId = payload.telegramChatId || payload.chatId || '';\n\nlet reply = `Roomy: ${event}`;\nif (payload.title) reply += `\\n${payload.title}`;\nif (payload.taskId) reply += `\\nTarefa: ${payload.taskId}`;\nif (payload.billId) reply += `\\nConta: ${payload.billId}`;\nif (payload.transactionId) reply += `\\nTransacao: ${payload.transactionId}`;\n\nreturn [{ json: { chatId, reply, shouldSend: Boolean(chatId), response: { ok: true } } }];\n"
      },
      "id": "fb22ce6c-545a-45fb-970c-3786441591b5",
      "name": "Formatar Evento Roomy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldSend }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2c3d6150-07e2-4d83-b653-d239cc9dce73",
      "name": "Tem chat para notificar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "7d6a944e-4f2e-41cc-8d20-07df6345882e",
      "name": "Enviar Evento no Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        60,
        220
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response || { ok: true } }}",
        "options": {}
      },
      "id": "50aee5db-33fe-423b-bda4-91237f9db3ff6",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        420
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Router + Roomy API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router + Roomy API": {
      "main": [
        [
          {
            "node": "Responder no Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roomy Events Webhook": {
      "main": [
        [
          {
            "node": "Formatar Evento Roomy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Evento Roomy": {
      "main": [
        [
          {
            "node": "Tem chat para notificar?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem chat para notificar?": {
      "main": [
        [
          {
            "node": "Enviar Evento no Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-05-05T00:00:00.000Z",
      "updatedAt": "2026-05-05T00:00:00.000Z",
      "id": "roomy",
      "name": "Roomy"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-05-05T00:00:00.000Z",
  "versionId": "roomy-telegram-bot-v1"
}
